.destinationContainer {
  composes: grid-container from global;
}

.destination {
  background-image: url(../../assets/destination/background-destination-mobile.jpg);
}

@media (min-width: 35em) {
  .destination {
    background-position: center center;
    background-image: url(../../assets/destination/background-destination-tablet.jpg);
  }
}

@media (min-width: 45em) {
  .destination {
    background-image: url(../../assets/destination/background-destination-desktop.jpg);
  }
}
