.homeContainer {
  composes: grid-container from global;
}

@media (min-width: 45em) {
  .homeContainer {
    padding-bottom: max(6rem, 20vh);
    align-items: end;
  }
}

.title {
  composes: text-accent from global;
  composes: fs-500 from global;
  composes: ff-sans-cond from global;
  composes: uppercase from global;
  composes: letter-spacing-1 from global;
}

.title > span {
  display: block;
}

.home {
  background-image: url(../../assets/home/background-home-mobile.jpg);
}

@media (min-width: 35em) {
  .home {
    background-position: center center;
    background-image: url(../../assets/home/background-home-tablet.jpg);
  }
}

@media (min-width: 45em) {
  .home {
    background-image: url(../../assets/home/background-home-desktop.jpg);
  }
}
