.largeLink {
  composes: uppercase from global;
  composes: ff-serif from global;
  composes: text-dark from global;
  composes: bg-white from global;

  position: relative;
  z-index: 1;
  display: inline-grid;
  place-items: center;
  padding: 0 2em;
  border-radius: 50%;
  aspect-ratio: 1;
  text-decoration: none;
  font-size: 2rem;
}

.largeLink::after {
  content: '';
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: hsl(var(--clr-white) / 0.15);
  opacity: 0;
  transition: opacity 500ms linear, transform 750ms ease-in-out;
}

.largeLink:hover::after {
  opacity: 1;
  transform: scale(1.5);
}
